<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this storage from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_name,'登陆名' %><br>
      <%= f.text_field :user_name %>
    </div>

    <div class="field">
      <%= f.label :name,'姓名' %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :nr,'工号' %><br>
      <%= f.text_field :nr %>
    </div>

    <div class="field">
      <%= f.label :email,'邮箱' %><br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password,'密码'%>
      <%= f.text_field :password%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation,'确认密码'%>
      <%= f.text_field :password_confirmation%>
    </div>

    <div class="field">
      <%= f.label 'Role','权限'%>
      <%= select_tag(:role, options_for_select(Role.where.not(name: 'system').collect{|r|[r.name,r.name]} ,@user.role),include_blank: false)%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>