<%= render partial: 'shared/search' %>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>登陆名</th>
    <th>姓名</th>
    <th>工号</th>
    <th>邮箱</th>
    <th>权限</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.name %></td>
        <td><%= user.nr %></td>
        <td><%= user.email %></td>
        <td>
          <%= user.role_name.join("|") %>
        </td>
        <td><%= link_to '详情', user_path(user), class: 'btn btn-default' %></td>
        <td>
          <%= link_to '编辑', edit_user_path(user), class: 'btn btn-default' %>
        </td>
        <td>
          <% unless user.system? %>
              <%= link_to '删除', user, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>
