<%= form_for(@production_order_handler_item) do |f| %>
  <% if @production_order_handler_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_order_handler_item.errors.count, "error") %> prohibited this production_order_handler_item from being saved:</h2>

      <ul>
      <% @production_order_handler_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nr %><br>
    <%= f.text_field :nr %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="field">
    <%= f.label :kanban_code %><br>
    <%= f.text_field :kanban_code %>
  </div>
  <div class="field">
    <%= f.label :kanban_nr %><br>
    <%= f.text_field :kanban_nr %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.number_field :result %>
  </div>
  <div class="field">
    <%= f.label :handler_user %><br>
    <%= f.text_field :handler_user %>
  </div>
  <div class="field">
    <%= f.label :item_terminated_at %><br>
    <%= f.datetime_select :item_terminated_at %>
  </div>
  <div class="field">
    <%= f.label :production_order_handler_id %><br>
    <%= f.text_field :production_order_handler_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
