<h1>Listing production_order_handler_items</h1>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Desc</th>
      <th>Remark</th>
      <th>Kanban code</th>
      <th>Kanban nr</th>
      <th>Result</th>
      <th>Handler user</th>
      <th>Item terminated at</th>
      <th>Production order handler</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_order_handler_items.each do |production_order_handler_item| %>
      <tr>
        <td><%= production_order_handler_item.nr %></td>
        <td><%= production_order_handler_item.desc %></td>
        <td><%= production_order_handler_item.remark %></td>
        <td><%= production_order_handler_item.kanban_code %></td>
        <td><%= production_order_handler_item.kanban_nr %></td>
        <td><%= production_order_handler_item.result %></td>
        <td><%= production_order_handler_item.handler_user %></td>
        <td><%= production_order_handler_item.item_terminated_at %></td>
        <td><%= production_order_handler_item.production_order_handler %></td>
        <td><%= link_to 'Show', production_order_handler_item %></td>
        <td><%= link_to 'Edit', edit_production_order_handler_item_path(production_order_handler_item) %></td>
        <td><%= link_to 'Destroy', production_order_handler_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production order handler item', new_production_order_handler_item_path %>
