<h4><%= @process_template.description %></h4>
<input type="hidden" id="process_template_id_hidden" name="process_entity[process_template_id]" value="<%= @process_template.id %>">
<div>
  <p>Wire:</p>
  <table>
    <tr>
      <td colspan="2">
        Default Wire No:
        <%= render 'custom_fields/format/input', {field: @process_template.field_default_wire_nr} %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Component:
        <%= render 'custom_fields/format/input', {field: @process_template.field_wire_nr} %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Qty factor:
        <%= render 'custom_fields/format/input', {field: @process_template.field_wire_qty_factor} %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Bundle Qty:
        <%= render 'custom_fields/format/input', {field: @process_template.field_default_bundle_qty} %>
      </td>
    </tr>
  </table>
  <p>Terminator:</p>
  <table>
    <tr>
      <td>T1:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t1} %>
      </td>
      <td>T2:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t2} %>
      </td>
    </tr>
    <tr>
      <td>T1 Qty factor:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t1_qty_factor} %>
      </td>
      <td>T2 Qty factor:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t2_qty_factor} %>
      </td>
    </tr>
    <tr>
      <td>T1 Default Strip Length:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t1_default_strip_length} %>
      </td>
      <td>T1 Strip Length:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t1_strip_length} %>
      </td>
      <td>T2 Default Strip Length:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t2_default_strip_length} %>
      </td>
      <td>T2 Strip Length:
        <%= render 'custom_fields/format/input', {field: @process_template.field_t2_strip_length} %>
      </td>
    </tr>
  </table>
  <p>Seal:</p>
  <table>
    <tr>
      <td>S1:
        <%= render 'custom_fields/format/input', {field: @process_template.field_s1} %>
      </td>
      <td>S2:
        <%= render 'custom_fields/format/input', {field: @process_template.field_s2} %>
      </td>
    </tr>
    <tr>
      <td>S1 Qty factor:
        <%= render 'custom_fields/format/input', {field: @process_template.field_s1_qty_factor} %>
      </td>
      <td>S2 Qty factor:
        <%= render 'custom_fields/format/input', {field: @process_template.field_s2_qty_factor} %>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
    $(
            $('.format_part').bind('keyup blur', function (event) {
                if (is_auto_submit_input_event(event, this)) {
                    var input_names = ['t1', 't2'];
                    var input_name = $(this).attr('id');
                    validate_custom_field_part($(this).attr('field'), $(this).val(), function (data) {
                        if (!data.result) {
                            alert(data.content);
                        }
                        else if ($.inArray(input_name, input_names) > -1) {
                            $("label[id='" + input_name + "_default_strip_length'").text(data.content.strip_length);
                            $("input[id='" + input_name + "_default_strip_length'").val(data.content.strip_length);
                        }
                    });
                }
            })
    )
</script>