<%= render partial: 'shared/search'%>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @process_templates %>
  </div>
  <%= will_paginate @process_templates, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Code</th>
    <th>Type</th>
    <th>Name</th>
    <th>Wire From</th>
    <th>Template</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @process_templates.each do |process_template| %>
      <tr>
        <td><%= process_template.code %></td>
        <td><%= ProcessType.display process_template.type %></td>
        <td><%= process_template.name %></td>
        <th>
          <%= best_in_place process_template,:wire_from,as: :select,collection: WireFromType.to_select.collect{|option|[option.value,option.display]}.to_h%>
        </th>
        <td>
          <%= render('show_template', {process_template: process_template}) if ProcessType.semi_auto?(process_template.type) %>
        </td>
        <td><%= process_template.description %></td>
        <td><%= link_to '详情', process_template %></td>
        <td><%= link_to '编辑', edit_process_template_path(process_template) %></td>
        <td><%= link_to '删除', process_template, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @process_templates, :container => false %>
</div>

<!--<hr >
<%= form_tag autoimport_process_templates_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "导入 Auto ProcessTemplat" %>
<% end %>

<hr >
<%= form_tag semiautoimport_process_templates_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "导入 SEMI_AUTO ProcessTemplat" %>
<% end %>

<hr >
<%= form_tag manual_import_process_templates_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "导入 MANUAL ProcessTemplat" %>
<% end %>-->
