<h1>Listing process_templates</h1>

<table class="table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Type</th>
    <th>Name</th>
    <th>Template</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @process_templates.each do |process_template| %>
      <tr>
        <td><%= process_template.code %></td>
        <td><%= ProcessType.display process_template.type %></td>
        <td><%= process_template.name %></td>
        <td>
          <%= render('show_template', {process_template: process_template}) if ProcessType.semi_auto?(process_template.type) %>
        </td>
        <td><%= process_template.description %></td>
        <td><%= link_to 'Show', process_template %></td>
        <td><%= link_to 'Edit', edit_process_template_path(process_template) %></td>
        <td><%= link_to 'Destroy', process_template, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process template', new_process_template_path %>

<hr >
<%= form_tag import_process_templates_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "导入 Auto ProcessTemplat" %>
<% end %>

<hr >
<%= form_tag import_parts_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "导入 SEMI_AUTO ProcessTemplat" %>
<% end %>

<hr >
<%= form_tag import_parts_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "导入 MANUAL ProcessTemplat" %>
<% end %>
