<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @process_template.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @process_template.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @process_template.name %>
</p>

<p>
  <strong>Template:</strong>
  <%= render 'show_template', {process_template: @process_template} %>
</p>

<strong>Description:</strong>
<%= simple_format(@process_template.description) %>

<%= link_to '编辑', edit_process_template_path(@process_template) %>
