<h1>Listing resource_group_tools</h1>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_group_tools.each do |resource_group_tool| %>
      <tr>
        <td><%= resource_group_tool.nr %></td>
        <td><%= resource_group_tool.type %></td>
        <td><%= resource_group_tool.name %></td>
        <td><%= resource_group_tool.description %></td>
        <td><%= link_to 'Show', resource_group_tool %></td>
        <td><%= link_to 'Edit', edit_resource_group_tool_path(resource_group_tool) %></td>
        <td><%= link_to 'Destroy', resource_group_tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource group tool', new_resource_group_tool_path %>
