<p id="notice"><%= notice %></p>

<p>
  <strong>Side:</strong>
  <%= @crimp_configuration_item.side %>
</p>

<p>
  <strong>Min pulloff:</strong>
  <%= @crimp_configuration_item.min_pulloff %>
</p>

<p>
  <strong>Crimp height:</strong>
  <%= @crimp_configuration_item.crimp_height %>
</p>

<p>
  <strong>Crimp height iso:</strong>
  <%= @crimp_configuration_item.crimp_height_iso %>
</p>

<p>
  <strong>Crimp width:</strong>
  <%= @crimp_configuration_item.crimp_width %>
</p>

<p>
  <strong>Crimp width iso:</strong>
  <%= @crimp_configuration_item.crimp_width_iso %>
</p>

<p>
  <strong>I crimp height:</strong>
  <%= @crimp_configuration_item.i_crimp_height %>
</p>

<p>
  <strong>I crimp height iso:</strong>
  <%= @crimp_configuration_item.i_crimp_height_iso %>
</p>

<p>
  <strong>I crimp width:</strong>
  <%= @crimp_configuration_item.i_crimp_width %>
</p>

<p>
  <strong>I crimp width iso:</strong>
  <%= @crimp_configuration_item.i_crimp_width_iso %>
</p>

<%= link_to 'Edit', edit_crimp_configuration_item_path(@crimp_configuration_item) %> |
<%= link_to 'Back', crimp_configuration_items_path %>
