<style type="text/css">
    .col-sm-4 {
        display: inline-flex;
        display: -webkit-inline-flex;
    }

    .col-sm-4>label {
        width: 130px;
    }

    .col-sm-4>input {
        margin-left: 10px;
    }

</style>

<%= form_for(@crimp_configuration) do |f| %>
    <% if @crimp_configuration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@crimp_configuration.errors.count, "error") %> prohibited this crimp_configuration from
            being saved:</h2>

          <ul>
            <% @crimp_configuration.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :custom_id, '客户号' %>
        <br>
        <%= f.text_field :custom_id %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :wire_group_name, '线组' %>
        <br>
        <%= f.text_field :wire_group_name%>
      </div>
      <div class="field col-sm-4">
        <%= f.label :part_id, '端子号' %>
        <br>
        <%= f.text_field :part_id %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :cross_section, '截面' %>
        <br>
        <%= f.text_field :cross_section %>
      </div>

      <div class="field col-sm-4">
        <%= f.label :min_pulloff_value, '最小拉力值' %>
        <br>
        <%= f.text_field :min_pulloff_value %>
      </div>

      <div class="field col-sm-4">
        <%= f.label :crimp_height, '压接高度' %>
        <br>
        <%= f.text_field :crimp_height %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :crimp_height_iso, '压接高度公差' %>
        <br>
        <%= f.text_field :crimp_height_iso %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_width, '压接宽度' %>
        <br>
        <%= f.text_field :crimp_width %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_width_iso, '压接宽度公差' %>
        <br>
        <%= f.text_field :crimp_width_iso %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :i_crimp_height, '绝缘压接高度' %>
        <br>
        <%= f.text_field :i_crimp_height %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :i_crimp_height_iso, '绝缘压接高度公差' %>
        <br>
        <%= f.text_field :i_crimp_height_iso %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :i_crimp_width, '绝缘压接宽度' %>
        <br>
        <%= f.text_field :i_crimp_width %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :i_crimp_width_iso, '绝缘压接宽度公差' %>
        <br>
        <%= f.text_field :i_crimp_width_iso %>
      </div>
    </div>

    <hr style="border: 1px solid #ccc">
    <div style="display:inline-flex;">
      <!--<div class="actions">-->
      <!--<%= f.submit %>-->
      <button class="btn btn-primary" type="submit">提交</button>
      <!--</div>-->
    </div>
<% end %>