<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @production_order_handler_list.nr %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @production_order_handler_list.desc %>
</p>

<%= link_to 'Edit', edit_production_order_handler_list_path(@production_order_handler_list) %> |
<%= link_to 'Back', production_order_handler_lists_path %>
