<div style="display: inline-flex;display: -webkit-inline-flex;">
  <%= render partial: 'shared/search' %>
  <div>
    <button id="delete" style="margin:8px 20px;" class="btn btn-danger" onclick="delete_item('/part_positions/batch_destroy')">删除</button>
  </div>
</div>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @part_positions %>
  </div>
  <%= will_paginate @part_positions, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>
      <input type="checkbox" onclick="check_all_box()"></th>
    <th>#</th>
    <th>零件号</th>
    <th>库存</th>
    <th>描述</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @part_positions.each_with_index do |part_position, i| %>
      <tr>
        <td>
          <input type="checkbox" item="<%= part_position.id %>" class="order-item-check"/>
        </td>
        <td><%= i+1 %></td>
        <td><%= part_position.part_nr %></td>
        <td><%= part_position.storage %></td>
        <td><%= part_position.description %></td>
        <td><%= link_to '编辑', edit_part_position_path(part_position) %></td>
        <td><%= link_to '删除', part_position, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @part_positions, :container => false %>
</div>
