<%= render partial: 'shared/search' %>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @tools %>
  </div>
  <%= will_paginate @tools, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>模具号</th>
    <th>Resource group</th>
    <th>Part</th>
    <th>压接次数</th>
    <th>使用天数</th>
    <th>Rql</th>
    <th>总压接次数</th>
    <th>Rql date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tools.each_with_index do |tool, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= tool.nr %></td>
        <td><%= tool.resource_group_tool.nr if tool.resource_group_tool %></td>
        <td><%= tool.part.nr if tool.part %></td>
        <td><%= tool.mnt %></td>
        <td><%= tool.used_days %></td>
        <td><%= tool.rql %></td>
        <td><%= tool.tol %></td>
        <td><%= tool.rql_date %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>
