<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @tool.nr %>
</p>

<p>
  <strong>Resource group:</strong>
  <%= @tool.resource_group_tool.nr if @tool.resource_group_tool %>
</p>

<p>
  <strong>Mnt:</strong>
  <%= @tool.mnt %>
</p>

<p>
  <strong>Used days:</strong>
  <%= @tool.used_days %>
</p>

<p>
  <strong>Rql:</strong>
  <%= @tool.rql %>
</p>

<p>
  <strong>Tol:</strong>
  <%= @tool.tol %>
</p>

<p>
  <strong>Rql date:</strong>
  <%= @tool.rql_date %>
</p>
<h3>可用零件</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>零件号</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @tool.part_tools.each_with_index do |pt, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= pt.part.nil? ? "N/A" : pt.part.nr %></td>
        <td><%= link_to '删除', pt, method: :delete, data: {confirm: '确定删除?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
