<h1>Listing machine_combinations</h1>

<table>
  <thead>
  <tr>
    <th>W1</th>
    <th>T1</th>
    <th>T2</th>
    <th>S1</th>
    <th>S2</th>
    <th>Wd1</th>
    <th>W2</th>
    <th>T3</th>
    <th>T4</th>
    <th>S3</th>
    <th>S4</th>
    <th>Wd2</th>
    <th>Machine</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @machine_combinations.each do |machine_combination| %>
        <td><%= machine_combination.w1 %></td>
        <td><%= machine_combination.t1 %></td>
        <td><%= machine_combination.t2 %></td>
        <td><%= machine_combination.s1 %></td>
        <td><%= machine_combination.s2 %></td>
        <td><%= machine_combination.wd1 %></td>
        <td><%= machine_combination.w2 %></td>
        <td><%= machine_combination.t3 %></td>
        <td><%= machine_combination.t4 %></td>
        <td><%= machine_combination.s3 %></td>
        <td><%= machine_combination.s4 %></td>
        <td><%= machine_combination.wd2 %></td>
        <td><%= machine_combination.machine %></td>
        <td><%= link_to 'Show', machine_combination %></td>
        <td><%= link_to 'Edit', edit_machine_combination_path(machine_combination) %></td>
        <td><%= link_to 'Destroy', machine_combination, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine combination', new_machine_combination_path %>
