<%= render partial: 'search_bom_bar' %>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Part</th>
    <th>Bom item</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @part_boms.each do |part_bom| %>
      <tr>
        <td><%= part_bom.part.nr %></td>
        <td><%= part_bom.bom_item.nr %></td>
        <td><%= part_bom.quantity %></td>
        <td><%= link_to '编辑', edit_part_bom_path(part_bom) %></td>
        <td><%= link_to '删除', part_bom, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
