<h1>Listing master_bom_items</h1>

<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>Bom item</th>
      <th>Product</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_bom_items.each do |master_bom_item| %>
      <tr>
        <td><%= master_bom_item.qty %></td>
        <td><%= master_bom_item.bom_item_id %></td>
        <td><%= master_bom_item.product_id %></td>
        <td><%= master_bom_item.department %></td>
        <td><%= link_to 'Show', master_bom_item %></td>
        <td><%= link_to 'Edit', edit_master_bom_item_path(master_bom_item) %></td>
        <td><%= link_to 'Destroy', master_bom_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master bom item', new_master_bom_item_path %>
