<h1>Listing process_custom_fields</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Field format</th>
      <th>Possible values</th>
      <th>Regexp</th>
      <th>Min length</th>
      <th>Max length</th>
      <th>Is required</th>
      <th>Is for all</th>
      <th>Is filter</th>
      <th>Position</th>
      <th>Searchable</th>
      <th>Default value</th>
      <th>Editable</th>
      <th>Visible</th>
      <th>Multiple</th>
      <th>Format store</th>
      <th>Is query value</th>
      <th>Validate query</th>
      <th>Value query</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_custom_fields.each do |process_custom_field| %>
      <tr>
        <td><%= process_custom_field.type %></td>
        <td><%= process_custom_field.name %></td>
        <td><%= process_custom_field.field_format %></td>
        <td><%= process_custom_field.possible_values %></td>
        <td><%= process_custom_field.regexp %></td>
        <td><%= process_custom_field.min_length %></td>
        <td><%= process_custom_field.max_length %></td>
        <td><%= process_custom_field.is_required %></td>
        <td><%= process_custom_field.is_for_all %></td>
        <td><%= process_custom_field.is_filter %></td>
        <td><%= process_custom_field.position %></td>
        <td><%= process_custom_field.searchable %></td>
        <td><%= process_custom_field.default_value %></td>
        <td><%= process_custom_field.editable %></td>
        <td><%= process_custom_field.visible %></td>
        <td><%= process_custom_field.multiple %></td>
        <td><%= process_custom_field.format_store %></td>
        <td><%= process_custom_field.is_query_value %></td>
        <td><%= process_custom_field.validate_query %></td>
        <td><%= process_custom_field.value_query %></td>
        <td><%= process_custom_field.description %></td>
        <td><%= link_to 'Show', process_custom_field %></td>
        <td><%= link_to 'Edit', edit_process_custom_field_path(process_custom_field) %></td>
        <td><%= link_to 'Destroy', process_custom_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process custom field', new_process_custom_field_path %>
