<!DOCTYPE html>
<html>
<head>
  <title>PmsServer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/menu' %>
  <div class="container theme-showcase" role="main">
    <%= render partial: 'sidebar' rescue nil%>
    <div class="row" id="result">
      <%= yield %>
    </div>
  </div>
</body>
<%= render partial: 'shared/handling_msg_box', locals: {handle_message: '处理中...'} %>

</html>
