<div>
  <span>W1: <%= @machine_scope.w1 %></span>
  <span>T1: <%= @machine_scope.t1 %></span>
  <span>T2: <%= @machine_scope.t2 %></span>
  <span>S1: <%= @machine_scope.s1 %></span>
  <span>S2: <%= @machine_scope.s2 %></span>
  <span>WD1: <%= @machine_scope.wd1 %></span>
  <br/>
  <span>W2: <%= @machine_scope.w2 %></span>
  <span>T3: <%= @machine_scope.t3 %></span>
  <span>T4: <%= @machine_scope.t4 %></span>
  <span>S3: <%= @machine_scope.s3 %></span>
  <span>S4: <%= @machine_scope.s4 %></span>
  <span>WD2: <%= @machine_scope.wd2 %></span>
</div>