<p id="notice"><%= notice %></p>

<p>
  <strong>Oee code:</strong>
  <%= @machine_time_rule.oee_code %>
</p>

<p>
  <strong>Machine type:</strong>
  <%= @machine_time_rule.machine_type %>
</p>

<p>
  <strong>Length:</strong>
  <%= @machine_time_rule.length %>
</p>

<p>
  <strong>Time:</strong>
  <%= @machine_time_rule.time %>
</p>

<%= link_to 'Edit', edit_machine_time_rule_path(@machine_time_rule) %> |
<%= link_to 'Back', machine_time_rules_path %>
