<div class="field">
  input process template no:
  <input type="text" id="process_template_code">
</div>

<%= form_for(@process_entity, html: {id: 'process_entity_form'}) do |f| %>
    <% if @process_entity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@process_entity.errors.count, "error") %> prohibited this part from being saved:</h2>

          <ul>
            <% @process_entity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :nr %><br>
      <%= f.text_field :nr %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :product_id %>
      <input type="text" id="search_ProductNR" value="<%= @process_entity.product_nr %>"/>
      <%= f.text_field :product_id, class: " hidden", id: "search_ProductNR_Res" %>
    </div>

    <div class="field">
      <%= f.label :description %>:
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :stand_time %><br>
      <%= f.number_field :stand_time %>
    </div>

    <div class="field">
      <%= f.label :process_template_id %><br>
      <%= f.text_field :process_template_id %>
    </div>

    <div class="field">
      <%= f.label :workstation_type_id %><br>
      <%= f.text_field :workstation_type_id %>
    </div>

    <div class="field">
      <%= f.label :cost_center_id %><br>
      <%= f.text_field :cost_center_id %>
    </div>

    <div class="process_template_container">

    </div>
    <div class="actions">
      <input type="button" value="Submit" onclick="submit_process_form();"/>
    </div>
<% end %>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "search" %>
<% end %>

<script type="text/javascript">
    $(
            $('#process_template_code').bind('keyup', function (event) {
                var e = adapt_event(event);
                if (e.keyCode == 13) {
                    load_process_template_partial($(this).val(), function (template) {
                        $('.process_template_container').html(template)
                    });
                }
            })
    );
    function submit_process_form() {
        if (confirm('confirm to submit?')) {
            if ($(".custom_field_input,.out_stock_qty").filter(function () {
                        return $.trim($(this).val()).length == 0;
                    }).length == 0) {
                $('#process_entity_form').submit();
            } else {
                swal("请填写所有空格");
            }
        }
    }

        $(document).ready(function(){
            $('#search_ProductNR').on('keypress blur', function (event) {
                var product = $("#search_ProductNR");
                if ((event.keyCode == undefined || event.keyCode == 13)) {
                    if (product.val().length > 0 && $(this).attr("id") == "search_ProductNR") {
                        //Search Product
                        pms.search("parts", {nr: product.val()}, function (data) {
                            if (data.result) {
                                $("#search_ProductNR_Res").val(data.content[0].id);
                            }
                            else {
                                swal("成品未找到", "请确认零件中是否存在成品的零件号", "error");
                            }
                        })
                    }
                }
            });
        });
</script>