<li class="list-group-item">
  <label>步骤号:</label>
  <ins><%= process_entity.nr %></ins>
  /
  <label>名称:</label>
  <ins><%= process_entity.name %></ins>
  <label>总成号:</label>
  <ins><%= process_entity.product_nr %></ins>

  <label>使用零件:</label>
  <% process_entity.process_parts.each do |pp| %>
  <span><%= pp.parsed_nr%></span>
  <% end %>

  <label>Template:</label>
  <%= process_entity.template_text%>
</li>