<%= link_to '导入全自动工艺',import_auto_process_entities_path%>
<%= link_to '导入半自动工艺',import_semi_auto_process_entities_path%>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Stand time</th>
    <th>Template Code</th>
    <th>Process Type</th>
    <th>Product Nr</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @process_entities.each do |process_entity| %>
      <tr>
        <td><%= process_entity.nr %></td>
        <td><%= process_entity.name %></td>
        <td><%= process_entity.description %></td>
        <td><%= process_entity.stand_time %></td>
        <td><%= process_entity.process_template_code %></td>
        <td><%= ProcessType.display process_entity.process_template_type %></td>
        <th><%= process_entity.product_nr%></th>
        <td><%= link_to '详情', process_entity %></td>
        <td><%= link_to '编辑', edit_process_entity_path(process_entity) %></td>
        <td><%= link_to '删除', process_entity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
