<%= render partial: 'shared/search' %>
<%= link_to '导入全自动工艺', import_auto_process_entities_path, :class => 'btn btn-info' %>
<%= link_to '导出全自动工艺', export_auto_process_entities_path({q: @q, model: current_model}), :class => 'btn btn-info', data: {confirm: "数据量较大，确定？"} %>
<%= link_to '导入半自动工艺', import_semi_auto_process_entities_path, :class => 'btn btn-success' %>
<%= link_to '导出半自动工艺', export_semi_process_entities_path({q: @q, model: current_model}), :class => 'btn btn-success', data: {confirm: "数据量较大，确定？"} %>
<%= link_to '导出未使用的工艺', export_unused_process_entities_path, :class => 'btn btn-warning' %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @process_entities %>
  </div>
  <%= will_paginate @process_entities, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Product Nr</th>
    <th>生成的线号</th>
    <th>Process Type</th>
    <th>Description</th>
    <th>Stand time</th>
    <th>Template Code</th>
    <th>Remark</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @process_entities.each do |process_entity| %>
      <tr>
        <td><%= best_in_place process_entity, :nr, as: :input %></td>
        <td><%= best_in_place process_entity, :name, as: :input %></td>
        <td><%= best_in_place process_entity, :product_nr, as: :input %></td>
        <td><%= process_entity.parsed_wire_nr %></td>
        <td><%= ProcessType.display(process_entity.process_template_type) %></td>
        <td><%= best_in_place process_entity, :description, as: :input %></td>
        <td><%= process_entity.work_time %></td>
        <td><%= process_entity.process_template_code %></td>
        <td>
          <%= best_in_place process_entity, :remark, as: :input %>
        </td>
        <td><%= link_to '详情', process_entity, class: 'btn btn-default' %></td>
        <td><%= link_to '编辑', edit_process_entity_path(process_entity), class: 'btn btn-default' %></td>
        <td>
          <% if current_user.can_delete_data? %>
              <%= link_to '删除', process_entity, method: :delete, data: {confirm: "确定删除#{process_entity.nr}?"}, class: 'btn btn-default' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @process_entities, :container => false %>
</div>

