<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @process_entity.nr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @process_entity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@process_entity.description) %>
</p>

<p>
  <strong>Stand time:</strong>
  <%= @process_entity.stand_time %>
</p>

<p>
  <strong>Product Nr:</strong>
  <%= @process_entity.product_nr %>
</p>

<p>
  <strong>Process template:</strong>
  <%= render 'show_process_entity' %>
</p>

<p>
  <strong>Workstation type:</strong>
  <%= @process_entity.workstation_type %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @process_entity.cost_center %>
</p>
<% if current_user.can_modify_data? %>
    <%= link_to '编辑', edit_process_entity_path(@process_entity) %>
<% end %>