<%= form_for(@resource_group_machine) do |f| %>
  <% if @resource_group_machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_group_machine.errors.count, "error") %> prohibited this resource_group_machine from being saved:</h2>

      <ul>
      <% @resource_group_machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nr %><br>
    <%= f.text_field :nr %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
