<h1>Listing resource_group_machines</h1>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_group_machines.each do |resource_group_machine| %>
      <tr>
        <td><%= resource_group_machine.nr %></td>
        <td><%= resource_group_machine.type %></td>
        <td><%= resource_group_machine.name %></td>
        <td><%= resource_group_machine.description %></td>
        <td><%= link_to 'Show', resource_group_machine %></td>
        <td><%= link_to 'Edit', edit_resource_group_machine_path(resource_group_machine) %></td>
        <td><%= link_to 'Destroy', resource_group_machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource group machine', new_resource_group_machine_path %>
