<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @resource_group_machine.nr %>
</p>

<p>
  <strong>Type:</strong>
  <%= @resource_group_machine.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resource_group_machine.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource_group_machine.description %>
</p>

<%= link_to 'Edit', edit_resource_group_machine_path(@resource_group_machine) %> |
<%= link_to 'Back', resource_group_machines_path %>
