<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @wire_group.group_name %>
</p>

<p>
  <strong>Wire type:</strong>
  <%= @wire_group.wire_type %>
</p>

<p>
  <strong>Cross section:</strong>
  <%= @wire_group.cross_section %>
</p>

<%= link_to 'Edit', edit_wire_group_path(@wire_group) %> |
<%= link_to 'Back', wire_groups_path %>
