<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Describe</th>
      <th>Cn</th>
      <th>En</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measure_units.each do |measure_unit| %>
      <tr>
        <td><%= measure_unit.code %></td>
        <td><%= measure_unit.describe %></td>
        <td><%= measure_unit.cn %></td>
        <td><%= measure_unit.en %></td>
        <td><%= link_to '详情', measure_unit %></td>
        <td><%= link_to '编辑', edit_measure_unit_path(measure_unit) %></td>
        <td><%= link_to '删除', measure_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
