<%= form_for(@production_order_item) do |f| %>
    <% if @production_order_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@production_order_item.errors.count, "error") %> prohibited this production_order_item from
            being saved:</h2>

          <ul>
            <% @production_order_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :nr %><br>
                <%= f.text_field :nr, class: "form-control" %>
              </div>
              <div class="form-group">
                <div class="field">
                  <%= f.label :optimise_index %><br>
                  <%= f.text_field :optimise_index, class: "form-control" %>
                </div>

                <div>
                  <%= f.label :machine %>
                  <%= f.select(:machine_id, machine_options) %>
                </div>

                <div>
                  <%= f.label :order %>
                  <%= f.select(:production_order_id, production_order_options) %>
                </div>

                <div class="field">
                  <%= f.label :state %><br>
                  <%= f.select(:state,
                               production_order_item_state_options, {include_blank: false}) %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :code %><br>
                <%= f.text_field :code, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :kanban %><br>
                <%= @production_order_item.kanban.nil? ? '' : @production_order_item.kanban.nr %>
              </div>
              <div class="form-group">
                <%= f.label :production_order %><br>
                <span><%= @production_order_item.production_order.nil? ? '' : @production_order_item.production_order.nr %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-info' %>
    </div>
<% end %>
