<%= form_for(@kanban) do |f| %>
    <% if @kanban.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@kanban.errors.count, "error") %> prohibited this kanban from being saved:</h2>

          <ul>
            <% @kanban.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            基础信息
          </div>
          <div class="panel-body">
            <!--验证零件是否存在-->
            <div class="form-group">
              <%= f.label :part_id, "#{KanbanDesc::WIRE_NR}:" %>
              <input type="text", id="search_Part" class="form-control"/>
              <%= f.text_field :part_id, class: "hidden",id:"search_Part_Res"%>
            </div>

            <!--验证是否重复-->
            <div class="form-group">
              <%= f.label :nr, "#{KanbanDesc::NR}:" %>
              <%= f.text_field :nr,class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :copies, "#{KanbanDesc::COPIES}:" %>
              <%= f.number_field :copies, {min: 0, class: "form-control"} %>
            </div>

            <div class="form-group">
              <%= f.label :quantity, "#{KanbanDesc::QUANTITY}:" %>
              <%= f.number_field :quantity, {min: 0, class: "form-control"} %>
            </div>

            <div class="form-group">
              <%= f.label :safety_stock, "#{KanbanDesc::SAFETY_STOCK}:" %>
              <%= f.number_field :safety_stock,  {min: 0, class: "form-control"} %>
            </div>

            <!--验证取料送料库位是否存在-->
            <div class="form-group">
              <%= f.label :source_warehouse, "#{KanbanDesc::SOURCE_WAREHOUSE}:" %>
              <%= f.text_field :source_warehouse,class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :source_storage, "#{KanbanDesc::SOURCE_STORAGE}:" %>
              <%= f.text_field :source_storage,class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :des_warehouse, "#{KanbanDesc::DES_WAREHOUSE}:" %>
              <%= f.text_field :des_warehouse,class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :des_storage, "#{KanbanDesc::DES_STORAGE}:" %>
              <%= f.text_field :des_storage,class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :remark, "#{KanbanDesc::REMARK}:" %>
              <%= f.text_field :remark ,class: "form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :ktype, "#{KanbanDesc::TYPE}" %>
              <%= f.select(:ktype, kanban_type_options, {include_blank: false}) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>

    <div class="actions">
      <%= f.submit%>
    </div>
<% end %>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "search" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
      $("#search_Part").on('mouseleave',function(){
          var tar = $(this);
          if(tar.val().length > 0) {
              pms.search('parts', {attr: 'nr', val: tar.val()}, function (data) {
                  if (data.result) {
                      $("#search_Part_Res").val(data.content.id);
                  } else {
                      alert.content(data.content);
                  }
              });
          }
      })
  });
</script>