<%= form_for(@kanban, html: {onkeypress: "return event.keyCode != 13;"}) do |f| %>
    <% if @kanban.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@kanban.errors.count, "error") %> prohibited this kanban from being saved:</h2>

          <ul>
            <% @kanban.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger hidden" role="alert" id="error-message">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading" id="kanban" kanban_id="<%= @kanban.id%>">
          基础信息
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <!--验证是否重复-->
              <div class="form-group">
                <%= f.label :nr, "#{KanbanDesc::NR}:" %>
                <%= f.text_field :nr, class: "form-control" %>
              </div>

              <!--验证零件是否存在-->
              <div class="form-group">
                <%= f.label :part_id, "#{KanbanDesc::WIRE_NR}:" %>
                <input type="text" id="search_Part" class="form-control"/>
                <%= f.text_field :part_id, class: "hidden", id: "search_Part_Res" %>
              </div>

              <div class="form-group">
                <%= f.label :product_id, "#{KanbanDesc::PRODUCT_NR}:" %>
                <input type="text" id="search_ProductNR" class="form-control"/>
                <%= f.text_field :product_id, class: "form-control hidden", id: "search_ProductNR_Res" %>
              </div>

              <div class="form-group">
                <%= f.label :copies, "#{KanbanDesc::COPIES}:" %>
                <%= f.number_field :copies, {min: 0, class: "form-control"} %>
              </div>

              <div class="form-group">
                <%= f.label :quantity, "#{KanbanDesc::QUANTITY}:" %>
                <%= f.number_field :quantity, {min: 0, class: "form-control"} %>
              </div>

              <div class="form-group">
                <%= f.label :safety_stock, "#{KanbanDesc::SAFETY_STOCK}:" %>
                <%= f.number_field :safety_stock, {min: 0, class: "form-control"} %>
              </div>
            </div>
            <div class="col-md-6">
              <!--验证取料送料库位是否存在-->
              <div class="form-group">
                <%= f.label :source_warehouse, "#{KanbanDesc::SOURCE_WAREHOUSE}:" %>
                <%= f.text_field :source_warehouse, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :source_storage, "#{KanbanDesc::SOURCE_STORAGE}:" %>
                <%= f.text_field :source_storage, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :des_warehouse, "#{KanbanDesc::DES_WAREHOUSE}:" %>
                <%= f.text_field :des_warehouse, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :des_storage, "#{KanbanDesc::DES_STORAGE}:" %>
                <%= f.text_field :des_storage, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :remark, "#{KanbanDesc::REMARK}:" %>
                <%= f.text_field :remark, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :ktype, "#{KanbanDesc::TYPE}" %>
                <%= f.select(:ktype, kanban_type_options, {include_blank: false}, {class: "form-control", id: "select_KanbanType"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          关联Routing
        </div>
        <div class="panel-body">
          <div class="container-fluid" id="addKanbanRoutingTemplate">
            <div class="row">
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">?</span>
                  <input type="text" class="form-control" id="search_Route" placeholder="Search for Routing...">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8" id="routes_List">

              </div>
              <div class="col-md-4">
                <ul id="kpe_List">
                  <% @kanban.kanban_process_entities.each do |kpe| %>
                      <li pe_nr="<%= kpe.process_entity.nr %>">
                        <%= f.fields_for :kanban_process_entities do |ff| %>
                            <%= ff.text_field :kanban_ids %>
                            <%= ff.text_field :process_entity_ids %>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit :class => 'btn btn-info' %>
    </div>
<% end %>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "search" %>
    <%= javascript_include_tag "fix" %>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search_Part').on('keypress blur', function (event) {
            var tar = $(this);
            if (tar.val().length > 0 && (event.keyCode == undefined || event.keyCode == 13)) {
                pms.search('parts', {attr: 'nr', val: tar.val()}, function (data) {
                    if (data.result) {
                        $("#search_Part_Res").val(data.content.id);
                    } else {
                        $("#error-message").removeClass("hidden");
                        $("#error-message").text(data.content);
                    }
                });
            }
        });

        $("#search_ProductNR").on("keypress blur", function (event) {
            var tar = $(this);
            if (tar.val().length > 0 && (event.keyCode == undefined || event.keyCode == 13)) {
                pms.search('parts', {attr: 'nr', val: tar.val()}, function (data) {
                    if (data.result) {
                        $("#search_ProductNR_Res").val(data.content.id);
                    } else {
                        $("#error-message").removeClass("hidden");
                        $("#error-message").text(data.content);
                    }
                });
            }
        });

        $("#search_Route").on("keypress",function(event){
            var route_nr = $(this).val();
            var kpe=$("#kpe_List").children("[pe_nr="+route_nr+"]");
            if(kpe.length > 0){
                $("#error-message").removeClass("hidden");
                $("#error-message").text("Routing已经存在");
                return;
            }
            var kanban_id = $("#kanban").attr("kanban_id");
            if(route_nr.length > 0 && event.keyCode == 13){
                pms.search('process_entities',{attr:'nr',val:route_nr},function(data){
                    if (data.result) {
                        //查询到之后，请求ProcessEntity的Show界面
                        var list_item = $("<li>").attr("pe_nr",data.content.nr).append("<input id='kanban_kanban_process_entities_kanban_id' " +
                        "name='kanban[kanban_process_entities][kanban_id]' " +
                        "type='text' value="+kanban_id+"> " +
                        "<input id='kanban_kanban_process_entities_process_entity_id' " +
                        "name='kanban[kanban_process_entities][process_entity_id]'" +
                        " type='text' value="+data.content.id+">");
                        $("#kpe_List").append(list_item);

                        //render partial
                        $.ajax({
                            url:'/process_entities/'+data.content.id+"/simple",
                            dataType:'html',
                            type:'GET',
                            success:function(data){
                                var div = $("<div>").addClass("panel panel-default").html(data);
                                $("#routes_List").append(div);
                            }
                        })
                    } else {
                        $("#error-message").removeClass("hidden");
                        $("#error-message").text(data.content);
                    }
                });
            }
        });

        /*$("#select_KanbanType").on("change", function () {
            var type = $(this).children(":Selected").val();
            $.ajax({
                url: 'kanbans/add_routing_template',
                data: {type: type},
                dataType: 'html',
                type: 'GET',
                success: function (data) {
                    $("#addKanbanRoutingTemplate").html(data);
                }
            })
        });*/
    });
</script>