<% content_for :javascript_includes do %>
    <%= javascript_include_tag "printer" %>
<% end %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @kanbans %>
  </div>
  <%= will_paginate @kanbans, :container => false %>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th><input type="checkbox" onclick="check_all_box()"></th>
    <th>#</th>
    <th><%= KanbanDesc::NR %></th>
    <th><%= KanbanDesc::TYPE %></th>
    <th><%= KanbanDesc::WIRE_NR %></th>
    <th><%= KanbanDesc::PRODUCT_NR %></th>
    <th>卡量</th>
    <th>捆扎数</th>
    <th>步骤</th>
    <th><%= KanbanDesc::TASK_TIME %></th>
    <th><%= KanbanDesc::PRINT_DATE %></th>
    <th><%= KanbanDesc::STATE %></th>
    <th><%= KanbanDesc::DES_POSITION %></th>
    <th>&nbsp;</th>
    <th>备注1/特殊工艺</th>
    <th>备注2/APAP</th>
    <th>历史</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @kanbans.each_with_index do |kanban, index| %>
      <tr>
        <td>
          <input type="checkbox" item="<%= kanban.id %>" class="order-item-check"/>
        </td>
        <td><%= index + 1 %></td>
        <td><%= kanban.nr %> , <%= kanban.printed_2DCode %></td>
        <td><%= KanbanType.display(kanban.ktype) %></td>
        <td><%= kanban.wire_nr %></td>
        <td><%= kanban.product_nr %></td>
        <td>
          <%= best_in_place kanban, :quantity, as: :input %>
        </td>
        <td>
          <%= best_in_place kanban, :bundle, as: :input %>
        </td>
        <td><%= kanban.process_list %></td>
        <td><%= kanban.task_time %></td>
        <td><%= kanban.print_time %></td>
        <td>
          <span class="label <%= kanban_states_class(kanban.state) %>"><%= KanbanState.display(kanban.state) %></span>
        </td>
        <td>  <%= best_in_place kanban, :des_storage, as: :input %></td>
        <td>
          <input type="button" class="scan-kanban-btn btn btn-warning" kanban-version="<%= kanban.printed_2DCode %>" value="投卡">
        </td>
        <td>  <%= best_in_place kanban, :remark, as: :input %></td>
        <td>  <%= best_in_place kanban, :remark2, as: :input %></td>
        <td><%= link_to '修改历史', history_kanban_path(kanban) %></td>
        <td><%= link_to '详细', kanban, class: "btn btn-default" %></td>
        <td>
          <% if current_user.can_modify_data? %>
              <%= link_to '编辑', edit_kanban_path(kanban), class: "btn btn-default" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @kanbans, :container => false %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.scan-kanban-btn').on('click', function () {
            var kanban_id = $(this).attr('kanban-version');
            if (kanban_id.length > 0) {
                pms.kanban.scan(kanban_id, function (data) {
                    if (data.result) {
                        swal("投卡成功！");
                    }
                    else {
                        swal(data.content);
                    }
                });
            }
        });
    });
</script>