<% content_for :javascript_includes do %>
    <%= javascript_include_tag "printer" %>
<% end %>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <button class="btn btn-default print" type="button" id="<%= kanban.id %>" kanban_type="<%= kanban.ktype%>">打印</button>
  <%= link_to 'Edit',edit_kanban_path,class:"btn btn-default"%>
  <%= link_to 'Release',release_kanban_path(kanban),class:"btn btn-info",method: :post%>
  <%= link_to 'Lock',lock_kanban_path(kanban),class:"btn btn-danger", method: :post%>
  <%= link_to 'Discard', discard_kanban_path(kanban),class:"btn btn-warning",method: :delete%>
</div>