<% content_for :javascript_includes do %>
    <%= javascript_include_tag "search" %>
    <%= javascript_include_tag "fix" %>
    <%= javascript_include_tag "kanban" %>
<% end %>

<div class="row" id="kanban" kanban_id="<%= @kanban.id %>">
  <div class="container-fluid" id="addKanbanRoutingTemplate">
    <div class="row">
      <div class="input-group">
        <div class="col-md-4">
          <input type="text" class="form-control" id="search_Route_Product" placeholder="总成号...">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" id="search_Route_Template" placeholder="步骤号...">
        </div>
        <div class="col-md-4">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" id="search_Route">Search</button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div id="search-Result"></div>
      </div>
    </div>
    
    <div class="row" id="routes_List">
      <% @kanban.process_entities.each do |pe| %>
          <%= render partial: 'process_entities/simple', locals: {process_entity: pe} %>
      <% end if @kanban.part %>
    </div>
    <ul id="kpe_List" class="hidden">
      <% @kanban.kanban_process_entities.each do |kpe| %>
          <li id="<%= kpe.process_entity_id %>"><%= kpe.process_entity_id %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row" id="routes_List">
  <% @kanban.process_entities.each do |pe| %>
      <%= render partial: 'process_entities/simple', locals: {process_entity: pe} %>
  <% end if @kanban.part %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //搜索Routing
        $("#search_Route").on("click", function (event) {
            var target = $(this);
            var kanban_id = $("#kanban").attr("kanban_id");
            var product = $("#search_Route_Product").val();
            var template = $("#search_Route_Template").val();

            if (product.length <= 0 || template.length <= 0) {
                swal("请输入总成号或步骤号！");
                return;
            }

            var product_id = null;
            var template_id = null;

            // Search Part
            pms.search("parts", {"nr": product}, function (data) {
                if (data.result && data.content.length == 1) {
                    product_id = data.content[0].id;

                    //Search Template
                    pms.search("process_templates",{"code":template},function(data){
                        if( data.result && data.content.length == 1){
                            template_id = data.content[0].id;

                            //Search Route
                            pms.search("process_entities",{"product_id":product_id,"process_template_id":template_id},function(data){
                                //
                                $("#search-Result").empty();
                                $("#search-Result").append(data);
                                //add routing to routing-list
                            },{"dataType":"html"});
                        }
                        else{
                            swal("步骤号未找到！");
                            return;
                        }
                    })
                }
                else {
                    swal("总成号未找到！");
                    return
                }
            });
        });

        $(".remove-routing").on("click", function () {
            var pe_nr = $(this).attr("pe_nr");
            var id = $(this).attr("id");
            var kanban_id = $("#kanban").attr("kanban_id");
            var target = $(this);
            //TODO 删除KANBAN
        });
    });
</script>