<%= render partial: 'shared/search' %>

<%= link_to '导出零件', export_parts_path({q:@q,model:current_model}), :class => 'btn btn-info' %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @parts %>
  </div>
  <%= will_paginate @parts, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>莱尼号</th>
    <th>客户号</th>
    <th>类型</th>
    <th>颜色</th>
    <th>颜色描述</th>
    <th>Component Type</th>
    <th>截面</th>
    <th>剥线长度</th>
    <th>Resource group</th>
    <th>单位</th>
    <th>资料品番号P/No</th>
    <th>Desc1</th>
    <th>FullDesc</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @parts.each do |part| %>
      <tr>
        <td><%= best_in_place part, :nr, as: :input %></td>
        <td><%= best_in_place part, :custom_nr, as: :input %></td>
        <td><%= best_in_place part, :type, as: :select, collection: PartType.to_select.collect { |s| [s.value, s.display] }.to_h %></td>
        <td><%= best_in_place part, :color, as: :input %></td>
        <td><%= best_in_place part, :color_desc, as: :input %></td>
        <td><%= best_in_place part, :component_type, as: :input %></td>
        <td><%= best_in_place part, :cross_section, as: :input %></td>
        <td><%= best_in_place part, :strip_length, as: :input %></td>
        <td><%= part.resource_group_tool.nr if part.resource_group_tool %></td>
        <td><%= best_in_place part, :unit, as: :input %></td>
        <td><%= best_in_place part, :pno, as: :input %></td>
        <td><%= best_in_place part, :desc1, as: :input %></td>
        <td><%= best_in_place part, :description, as: :input %></td>
        <td><%= link_to '详情', part %></td>
        <td><%= link_to '编辑', edit_part_path(part) %></td>
        <!--<td><%= link_to '删除', part, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
        <td>
          <%= link_to 'BOM表', part_bom_path(part.id) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @parts, :container => false %>
</div>
