<%= render partial: 'search'%>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @parts %>
  </div>
  <%= will_paginate @parts, :container => false %>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Custom nr</th>
    <th>Type</th>
    <th>Color</th>
    <th>Component Type</th>
    <th>Cross Section</th>
    <th>Strip length</th>
    <th>Resource group</th>
    <th>Measure unit</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @parts.each do |part| %>
      <tr>
        <td><%= part.nr %></td>
        <td><%= part.custom_nr %></td>
        <td><%= PartType.display(part.type) %></td>
        <td><%= part.color%></td>
        <td><%= part.component_type%></td>
        <td><%= part.cross_section%></td>
        <td><%= part.strip_length %></td>
        <td><%= part.resource_group_tool.nr if part.resource_group_tool %></td>
        <td><%= part.measure_unit %></td>
        <td><%= link_to '详情', part %></td>
        <td><%= link_to '编辑', edit_part_path(part) %></td>
        <td><%= link_to '删除', part, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td>
          <%= link_to 'BOM表', part_bom_path(part.id) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @parts, :container => false %>
</div>
