<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @part.nr %>
</p>

<p>
  <strong>Custom nr:</strong>
  <%= @part.custom_nr %>
</p>

<p>
  <strong>Type:</strong>
  <%= @part.type %>
</p>

<p>
  <strong>Strip length:</strong>
  <%= @part.strip_length %>
</p>

<p>
  <strong>Resource group:</strong>
  <%= @part.resource_group %>
</p>

<p>
  <strong>Measure unit:</strong>
  <%= @part.measure_unit %>
</p>

<%= link_to '编辑', edit_part_path(@part) %>