<p id="notice"><%= notice %></p>

<p>
  <strong>W1:</strong>
  <%= @machine_scope.w1 %>
</p>

<p>
  <strong>T1:</strong>
  <%= @machine_scope.t1 %>
</p>

<p>
  <strong>T2:</strong>
  <%= @machine_scope.t2 %>
</p>

<p>
  <strong>S1:</strong>
  <%= @machine_scope.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @machine_scope.s2 %>
</p>

<p>
  <strong>Wd1:</strong>
  <%= @machine_scope.wd1 %>
</p>

<p>
  <strong>W2:</strong>
  <%= @machine_scope.w2 %>
</p>

<p>
  <strong>T3:</strong>
  <%= @machine_scope.t3 %>
</p>

<p>
  <strong>T4:</strong>
  <%= @machine_scope.t4 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @machine_scope.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @machine_scope.s4 %>
</p>

<p>
  <strong>Wd2:</strong>
  <%= @machine_scope.wd2 %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @machine_scope.machine %>
</p>

<%= link_to 'Edit', edit_machine_scope_path(@machine_scope) %> |
<%= link_to 'Back', machine_scopes_path %>
