<style type="text/css">

    label {
        font-size: 1.2em;
        width: 110px;
    }

</style>

<%= form_for(@custom_detail) do |f| %>
    <% if @custom_detail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@custom_detail.errors.count, "error") %> prohibited this custom_detail from being
            saved:</h2>

          <ul>
            <% @custom_detail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :part_nr_from, '零件编码起始' %>
      <%= f.text_field :part_nr_from %>
    </div>
    <hr/>
    <div class="field">
      <%= f.label :part_nr_to, '零件编码终止' %>
      <%= f.text_field :part_nr_to %>
    </div>
    <hr/>
    <div class="field">
      <%= f.label :custom_nr, '客户号' %>
      <%= f.text_field :custom_nr %>
    </div>
    <hr/>
    <div class="actions">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
<% end %>
