<h1>Listing custom_details</h1>

<div>
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div>
      <span> 客户号：
        <input type="text" name="custom_detail[custom_id]" value="<%= @custom_nr %>"/>
      </span>
      <input type="submit" value="查 找" class="btn btn-primary"/>
    </div>
  </form>
</div>

<br>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @custom_details %>
  </div>
  <%= will_paginate @custom_details, :container => false %>
</div>

<table>
  <thead>
    <tr>
      <th>零件编码起始</th>
      <th>零件编码终止</th>
      <th>客户号</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_details.each do |custom_detail| %>
      <tr>
        <td><%= custom_detail.part_nr_from %></td>
        <td><%= custom_detail.part_nr_to %></td>
        <td><%= custom_detail.custom_nr %></td>
        <td><%= link_to 'Show', custom_detail %></td>
        <td><%= link_to 'Edit', edit_custom_detail_path(custom_detail) %></td>
        <td><%= link_to 'Destroy', custom_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @custom_details, :container => false %>
</div>
<br>

<%= link_to 'New Custom detail', new_custom_detail_path %>
