<h1>Listing process_custom_values</h1>

<table>
  <thead>
    <tr>
      <th>Customized type</th>
      <th>Customized</th>
      <th>Custom field</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_custom_values.each do |process_custom_value| %>
      <tr>
        <td><%= process_custom_value.customized_type %></td>
        <td><%= process_custom_value.customized_id %></td>
        <td><%= process_custom_value.custom_field_id %></td>
        <td><%= process_custom_value.value %></td>
        <td><%= link_to 'Show', process_custom_value %></td>
        <td><%= link_to 'Edit', edit_process_custom_value_path(process_custom_value) %></td>
        <td><%= link_to 'Destroy', process_custom_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process custom value', new_process_custom_value_path %>
