<p id="notice"><%= notice %></p>

<p>
  <strong>Customized type:</strong>
  <%= @process_custom_value.customized_type %>
</p>

<p>
  <strong>Customized:</strong>
  <%= @process_custom_value.customized_id %>
</p>

<p>
  <strong>Custom field:</strong>
  <%= @process_custom_value.custom_field_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @process_custom_value.value %>
</p>

<%= link_to 'Edit', edit_process_custom_value_path(@process_custom_value) %> |
<%= link_to 'Back', process_custom_values_path %>
