<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @storage.nr %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @storage.warehouse %>
</p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
