
<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>IP</th>
    <th>Description</th>
    <th>Resource group</th>
    <th>Print Time</th>
    <th>Seal Time</th>
    <th>Terminal Time</th>
    <th>Wire Time</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.nr %></td>
        <td><%= machine.name %></td>
        <td><%= machine.ip %></td>
        <td><%= machine.description %></td>
        <td><%= machine.resource_group_machine.nr if machine.resource_group_machine %></td>
        <td><%= machine.print_time %></td>
        <td><%= machine.seal_time %></td>
        <td><%= machine.terminal_time %></td>
        <td><%= machine.wire_time %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% if machine.machine_scope %>
            <td><%= link_to 'Edit Scope', edit_machine_machine_scope_path(machine) %></td>
            <td><%= link_to 'Create or Edit Combination', machine_machine_combinations_path(machine) %></td>
        <% else %>
            <td><%= link_to 'Create Scope', new_machine_machine_scope_path(machine) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
