<h1>Listing machines</h1>

<table>
  <thead>
  <tr>
    <th>Nr</th>
    <th>Name</th>
    <th>Description</th>
    <th>Resource group</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.nr %></td>
        <td><%= machine.name %></td>
        <td><%= machine.description %></td>
        <td><%= machine.resource_group %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% if machine.machine_scope %>
            <td><%= link_to 'Edit Scope', edit_machine_scope_path(machine.machine_scope, machine: machine) %></td>
        <% else %>
            <td><%= link_to 'Create Scope', new_machine_scope_path(machine: machine) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
