<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @machine.nr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @machine.name %>
</p>

<p>
  <strong>IP:</strong>
  <%= @machine.ip %>
</p>

<p>
  <strong>Type:</strong>
  <%= @machine.machine_type_nr%>
</p>


<p>
  <strong>Description:</strong>
  <%= @machine.description %>
</p>

<p>
  <strong>Resource group:</strong>
  <%= @machine.resource_group_machine.nr if @machine.resource_group_machine %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
