<h1>Listing production_orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>State</th>
      <th>Code</th>
      <th>Kanban</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_orders.each do |production_order| %>
      <tr>
        <td><%= production_order.state %></td>
        <td><%= production_order.code %></td>
        <td><%= production_order.kanban %></td>
        <td><%= link_to 'Show', production_order %></td>
        <td><%= link_to 'Edit', edit_production_order_path(production_order) %></td>
        <td><%= link_to 'Destroy', production_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production order', new_production_order_path %>
