<%= form_tag(preview_production_orders_path,method: 'get') do%>
    <div class="row">
      <div class="col-md-2">
        <%= select_tag(:machine_nr, options_for_select(Machine.all.collect{|m|[m.nr,m.nr]} << ['All','All'],((@machine && @machine.nr)||@machine_nr)),class:'form-control',include_blank: false)%>
      </div>
      <div class="col-md-2">
        <%= submit_tag('Preview',class:'btn btn-default')%>
      </div>
    </div>

<%end%>

<h2>Preview Orders</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Order</th>
    <th>Optimize Index</th>
    <th>Machine Nr</th>
    <th>Component Length</th>
    <th>Nr</th>
    <th>Kanban Nr</th>
    <th>State</th>
    <th>Product Nr</th>
    <th>Wire Nr</th>
    <th>Quantity</th>
    <th>Bundle</th>
    <th>Component</th>
    <th>T1</th>
    <th>M1</th>
    <th>T2</th>
    <th>M2</th>
    <th>S1</th>
    <th>S2</th>
  </tr>
  </thead>
  <tbody>
  <% @production_order_items.each do |item|%>
      <% order_item = ProductionOrderItem.find_by_id(item[:Id])%>
      <tr>
        <td><%= item[:No]%></td>
        <th>
          <%= best_in_place order_item,:production_order_id,as: :select,collection: ProductionOrder.all.collect { |option| [option.id,option.nr]}.to_h %>
        </th>
        <th>
          <%= best_in_place order_item,:optimise_index, as: :input%>
        </th>
        <th>
          <%= best_in_place order_item,:machine_id, as: :select,collection: Machine.all.collect{|machine| [machine.id,machine.nr]}.to_h %>
        </th>
        <th>
          <%= %>
        </th>
        <td><%= item[:ItemNr]%></td>
        <td><%= item[:KanbanNr]%></td>
        <td><%= ProductionOrderItemState.display(item[:State])%></td>
        <th><%= item[:ProductNr]%></th>
        <th><%= item[:KanbanWireNr]%></th>
        <td><%= item[:KanbanQuantity]%></td>
        <td><%= item[:KanbanBundle]%></td>
        <td><%= item[:WireNr]%></td>
        <td><%= item[:Terminal1Nr]%></td>
        <td><%= item[:Tool1Nr]%></td>
        <td><%= item[:Terminal2Nr]%></td>
        <td><%= item[:Tool2Nr]%></td>
        <td><%= item[:Seal1Nr]%></td>
        <td><%= item[:Seal2Nr]%></td>
      </tr>
  <%end%>
  </tbody>
</table>