<%= form_for(@custom_value) do |f| %>
  <% if @custom_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_value.errors.count, "error") %> prohibited this custom_value from being saved:</h2>

      <ul>
      <% @custom_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customized_type %><br>
    <%= f.text_field :customized_type %>
  </div>
  <div class="field">
    <%= f.label :customized_id %><br>
    <%= f.number_field :customized_id %>
  </div>
  <div class="field">
    <%= f.label :custom_field_id %><br>
    <%= f.text_field :custom_field_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
