<p id="notice"><%= notice %></p>

<p>
  <strong>Customized type:</strong>
  <%= @custom_value.customized_type %>
</p>

<p>
  <strong>Customized:</strong>
  <%= @custom_value.customized_id %>
</p>

<p>
  <strong>Custom field:</strong>
  <%= @custom_value.custom_field %>
</p>

<p>
  <strong>Value:</strong>
  <%= @custom_value.value %>
</p>

<%= link_to 'Edit', edit_custom_value_path(@custom_value) %> |
<%= link_to 'Back', custom_values_path %>
