<%= form_for(@process_part) do |f| %>
  <% if @process_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_part.errors.count, "error") %> prohibited this process_part from being saved:</h2>

      <ul>
      <% @process_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br>
    <%= f.text_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :process_entity_id %><br>
    <%= f.text_field :process_entity_id %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.number_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
