<%= form_for(@resource_group_part) do |f| %>
    <% if @resource_group_part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@resource_group_part.errors.count, "error") %> prohibited this resource_group_part from
            being saved:</h2>

          <ul>
            <% @resource_group_part.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :resource_group_id, value: @resource_group_tool.id %>
    <div class="field">
      <%= f.label :part_id %><br>
      <%= f.text_field :part_id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
