<%= form_for(@auto_scrap_record) do |f| %>
  <% if @auto_scrap_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto_scrap_record.errors.count, "error") %> prohibited this auto_scrap_record from being saved:</h2>

      <ul>
      <% @auto_scrap_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_nr %><br>
    <%= f.text_field :order_nr %>
  </div>
  <div class="field">
    <%= f.label :kanban_nr %><br>
    <%= f.text_field :kanban_nr %>
  </div>
  <div class="field">
    <%= f.label :machine_nr %><br>
    <%= f.text_field :machine_nr %>
  </div>
  <div class="field">
    <%= f.label :part_nr %><br>
    <%= f.text_field :part_nr %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.text_field :qty %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
