<style type="text/css">

    label {
        width: 130px;
    }

    hr {
        border: 1px solid #F2F2F2;
    }
</style>

<%= form_for(@measured_value_record) do |f| %>
    <% if @measured_value_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@measured_value_record.errors.count, "error") %> prohibited this measured_value_record from
            being saved:</h2>

          <ul>
            <% @measured_value_record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :production_order_id %>
        <%= f.text_field :production_order_id %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_1 %>
        <%= f.text_field :crimp_height_1 %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_2 %>
        <%= f.text_field :crimp_height_2 %>
      </div>
    </div>
    <hr/>
    <div class="col-sm-12">

      <div class="field col-sm-4">
        <%= f.label :crimp_height_3 %>
        <%= f.text_field :crimp_height_3 %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_4 %>
        <%= f.text_field :crimp_height_4 %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_5 %>
        <%= f.text_field :crimp_height_5 %>
      </div>
    </div>
    <hr/>

    <div class="col-sm-12">

      <div class="field col-sm-4">
        <%= f.label :crimp_width %>
        <%= f.text_field :crimp_width %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :i_crimp_heigth %>
        <%= f.text_field :i_crimp_heigth %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :i_crimp_width %>
        <%= f.text_field :i_crimp_width %>
      </div>
    </div>
    <hr/>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :pulloff_value %>
        <%= f.text_field :pulloff_value %>
      </div>
      <div class="field col-sm-8">
        <%= f.label :note %>
        <%= f.text_field :note %>
      </div>
    </div>
    <hr/>
    <div class="actions">
      <button type="submit" class="btn btn-primary">Create Measured value record</button>
    </div>
<% end %>
