<style type="text/css">

    label {
        width: 130px;
    }

    hr {
        border: 1px solid #F2F2F2;
    }
</style>

<%= form_for(@measured_value_record) do |f| %>
    <% if @measured_value_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@measured_value_record.errors.count, "error") %> prohibited this measured_value_record from
            being saved:</h2>

          <ul>
            <% @measured_value_record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :production_order_id, '订单号' %>
        <%= f.text_field :production_order_id %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_1, '压接高度1' %>
        <%= f.text_field :crimp_height_1 %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_2, '压接高度2' %>
        <%= f.text_field :crimp_height_2 %>
      </div>
    </div>
    <hr/>
    <div class="col-sm-12">

      <div class="field col-sm-4">
        <%= f.label :crimp_height_3, '压接高度3' %>
        <%= f.text_field :crimp_height_3 %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_4, '压接高度4' %>
        <%= f.text_field :crimp_height_4 %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :crimp_height_5, '压接高度5' %>
        <%= f.text_field :crimp_height_5 %>
      </div>
    </div>
    <hr/>

    <div class="col-sm-12">

      <div class="field col-sm-4">
        <%= f.label :crimp_width, '压接宽度' %>
        <%= f.text_field :crimp_width %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :i_crimp_heigth, '绝缘压接高度' %>
        <%= f.text_field :i_crimp_heigth %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :i_crimp_width, '绝缘压接宽度' %>
        <%= f.text_field :i_crimp_width %>
      </div>
    </div>
    <hr/>

    <div class="col-sm-12">
      <div class="field col-sm-4">
        <%= f.label :pulloff_value, '最小拉力值' %>
        <%= f.text_field :pulloff_value %>
      </div>
      <div class="field col-sm-8">
        <%= f.label :note, '备注' %>
        <%= f.text_field :note %>
      </div>
    </div>
    <hr/>
    <div class="actions">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
<% end %>
