<style type="text/css">

    hr {
        border: 1px solid #F2F2F2;
    }

    p {
        font-size: 1.1em;
    }
</style>

<p id="notice"><%= notice %></p>
<div class="col-sm-12">
  <p class="col-sm-6">
    <strong>订单号:</strong>
    <%= @measured_value_record.production_order_id %>
  </p>

  <p class="col-sm-6">
    <strong>压接高度1:</strong>
    <%= @measured_value_record.crimp_height_1 %>
  </p>
</div>
<hr/>
<div class="col-sm-12">
  <p class="col-sm-6">
    <strong>压接高度2:</strong>
    <%= @measured_value_record.crimp_height_2 %>
  </p>

  <p class="col-sm-6">
    <strong>压接高度3:</strong>
    <%= @measured_value_record.crimp_height_3 %>
  </p>
</div>
<hr/>

<div class="col-sm-12">
  <p class="col-sm-6">
    <strong>压接高度4:</strong>
    <%= @measured_value_record.crimp_height_4 %>
  </p>

  <p class="col-sm-6">
    <strong>压接高度5:</strong>
    <%= @measured_value_record.crimp_height_5 %>
  </p>
</div>
<hr/>

<div class="col-sm-12">
  <p class="col-sm-6">
    <strong>压接宽度:</strong>
    <%= @measured_value_record.crimp_width %>
  </p>

  <p class="col-sm-6">
    <strong>绝缘压接高度:</strong>
    <%= @measured_value_record.i_crimp_heigth %>
  </p>
</div>
<hr/>

<div class="col-sm-12">
  <p class="col-sm-6">
    <strong>绝缘压接宽度:</strong>
    <%= @measured_value_record.i_crimp_width %>
  </p>


  <p class="col-sm-6">
    <strong>最小拉力值:</strong>
    <%= @measured_value_record.pulloff_value %>
  </p>
</div>
<hr/>

<div class="col-sm-12">
  <p class="col-sm-6">
    <strong>备注:</strong>
    <%= @measured_value_record.note %>
  </p>
</div>
<hr/>

<%= link_to '编辑', edit_measured_value_record_path(@measured_value_record), :class => 'btn btn-primary', :style => 'color:white' %>
<%= link_to '返回', measured_value_records_path, :class => 'btn btn-primary', :style => 'color:white;margin-left:20px;' %>
